<ion-view title="Profile" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src=""http://lorempixel.com/500/500/people/">
    </div>
    <h1 id="profile-heading1" style="color:#000000;">Heading</h1>
    <div id="profile-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a href="mailto:raudaschl@gmail.com" id="profile-button4" class="button button-positive button-block">Want to meet up?</a>
  </ion-content>
</ion-view>